*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root{
    --light-bg-color:
}
header{
    font-size: 2rem;
    display: flex;
    justify-content: ;

}

nav ul li button{
    background-color: transparent;
    border: ;
}